doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title SOLEY
        link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Oswald:400,500,600,700&display=swap" )
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Mulish:wght@200&display=swap" rel="stylesheet">
        link(rel="stylesheet", href="../css/style.css")
    body
        span.img 
            img(src="../img/header.png", alt="Fondo") 
        header 
            nav.nav 
                img.nav_img(src="../img/logo.png", alt="Logo")
                ul.nav_menu 
                    li
                        a(href="") 
                            img(src="../img/inicio.png", alt="Inicio")
                    li
                        a(href="")  
                            img(src="../img/about.png", alt="Quines somos")
                    li
                        a(href="")  
                            img(src="../img/products.png", alt="Productos")
                    li
                        a(href="")  
                            img(src="../img/contacs.png", alt="Contactanos")
            .titulo 
                h1.titulo_h1 EMPRESA 
                h2.titulo_h2 SOLEY 
                h2.titulo_h2 JABONERÍA 
                P.titulo_p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum vero culpa repellendus excepturi iure. Illum dolor voluptatibus ratione maiores, est ut deserunt fugit sunt numquam hic reprehenderit ipsum nisi? Id.
                button.boton 
                    a.boton_a(href="")
                        p.boton_a--p Leer Mas... 
        section.section_one 
            .card_one 
                .card_one--one
                    img(src="../img/Card/gel-litro.png", alt="") 
                    img(src="../img/Card/Galon.png", alt="") 
                    img(src="../img/Card/Caneca.png", alt="") 
